@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

.container {
  margin-top: 280px;
  font-weight: 600;
  padding: 0;
  font-size: 52px;
  font-family: Hellix, helvetica, arial, sans-serif;
}
h4 {
  margin-left: 60px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Hellix, helvetica, arial, sans-serif;
}
.vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  z-index: -10;
}

.colors {
  background-color: rgb(30, 25, 25);
}
